<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap" rel="stylesheet">

    <title>registration Sucessfull!</title>
    <style>
        body{
            background-color: #212121;
            color: #fff;
            margin: 0;
        }
        .sucess-container{
            font-family: inter;
            padding-left: 30px;
            {% comment %} border: 1px solid red; {% endcomment %}
            height: 100vh;
            display:flex;
            justify-content:center;
            align-items:center;

        }
    </style>
</head>
<body>
    <div class="sucess-container">
        <div class="main-info">
            <h1>Thank you, you are Sucessfully registered</h1>
            <p>Click here to go <a href="{% url 'homepage' %}" style="color: red;">home</a></p>
        </div>
    </div>
</body>
</html>