/* Style for the form container */
.upload-form {
    max-width: 400px;
    margin: 19px auto;
    padding: 50px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    background-color: #f7f7f7;
    
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
/* Style for form labels */
.upload-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black; /* Set label text color to white */
}

/* Style for text input and file input */
.upload-form input[type="text"],
.upload-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for submit button */
.upload-form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Style for submit button on hover */
.upload-form button[type="submit"]:hover {
    background-color: #0056b3;
}














/* body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
} */

.container {
    align-items: center;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}