{% load static %}
<nav class="navbar" style="overflow-y: hidden;">
    <a href="{% url 'homepage' %}"><img src={% static 'homepage/images/LOGO.png' %} alt="" width="150" height="70" style="margin-left: 30px;"></a>
    <ul class="nav-links">
        <li><a href="{% url 'learn' %}">Learn</li>
        <li><a href="{% url 'events' %}">Events</li>
        <p class="nav-link-saperator"> | </p>
        <li><a class="cuk-redirect-link" href="https://www.cukashmir.ac.in/" target="_blank">CUK Website</a> <i class="fa-solid fa-down-right fa-flip-vertical"></i> </li>
        <p class="nav-link-saperator"> | </p>
        
        
        
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'papers' %}">Paper</li>
            <p class="nav-link-saperator"> | </p>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>
        
        {% else %}
        <li><a href="{% url 'signup' %}">Signup</a></li>

        {% endif %}

       

    </ul>
</nav>