{% extends 'homepage/base.html' %}
{% load static %}

{% block styleblock %}
<link rel="stylesheet" href={% static "auth_app/css/authstyle.css" %}>
{% endblock styleblock %}

{% block mainpage %}
<div class="form-container">
  <div class="signup-main-container">
    <h1>Log in your account</h1>
    <form method="POST">
      {% csrf_token %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {% for field in form %}
        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}" {% if field.errors %}class="error"{% endif %}>
        {% for error in field.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endfor %}
      <p class='black'>Don't have an account? <a href="{% url 'signup' %}">Signup here</a></p>
      <input type="submit" value="Submit">
      <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a></p>

    </form>
  </div>
</div>
{% endblock mainpage %}

