{% extends 'homepage/base.html' %}
{% load static %}

{% block styleblock %}
<link rel="stylesheet" href="{% static 'auth_app/css/authstyle.css' %}">
{% endblock styleblock %}

{% block mainpage %}
<div class="form-container">
    <div class="signup-main-container">
        <h1>Reset Password</h1>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="error-message">{{ error }}</p>
            {% endfor %}
            {% endif %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock mainpage %}
