{% extends 'homepage/base.html' %}
{% load static %}
{% comment %} {% block nav %}{% endblock nav %} {% endcomment %}

{% block styleblock %}
<link rel="stylesheet" href={% static "auth_app/css/authstyle.css" %}>
{% endblock styleblock %}


{% load static %}
{% block mainpage %}
<div class="form-container">
    <div class="signup-main-container">
        <h1>Password Reset Requested</h1>
        <p>An email with instructions on how to reset your password has been sent to your email address. Please check your inbox and follow the steps to reset your password.</p>

    </div>
</div>
{% endblock mainpage %}
