{% extends 'homepage/base.html' %}
{% load static %}
{% comment %} {% block nav %}{% endblock nav %} {% endcomment %}

{% block styleblock %}
<link rel="stylesheet" href={% static "auth_app/css/authstyle.css" %}>
{% endblock styleblock %}


{% load static %}

{% block mainpage %}
<div class="form-container">
    <div class="signup-main-container">
      <h1>Success</h1>
      <p>Your Password has been Updated successfully.</p>

      <p><a href="{% url 'login' %}">Log In here.</a></p>
    </div>
  </div>
{% endblock mainpage %}
