/* Add the following code to your existing CSS file */

.form-container {
    /* border: 2px solid rgb(0, 255, 89); */
    margin-top: 90px;
    height: 60rem;
    width: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.error-message {
  color: red;
  /* border: 2px solid red; */
  margin-bottom: 12px;
  width: 313px;
}








.signup-main-container {
    border-top: 5px solid blue;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    
    
    width: 20%;
    background-color: rgb(235, 235, 235);
    color: rgb(20, 39, 205);
    padding: 20px;
    position: relative;
  }
  
  .signup-main-container h1 {
    padding-bottom: 40px;
    font-family: inter;
  }
  
  .signup-main-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .signup-main-container input[type="text"],
  .signup-main-container input[type="email"],
  .signup-main-container input[type="password"] {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(220, 220, 220);
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    padding-left: 15px;
  }
  
  .signup-main-container input[type="submit"] {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: blue;
    color: rgb(248, 248, 248);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-main-container input[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    border: 2px solid blue;
  }
  
  .signup-main-container input[type="text"]:focus,
  .signup-main-container input[type="email"]:focus,
  .signup-main-container input[type="password"]:focus {
    border-color: red;
  }
  
  .signup-main-container .error-message {
    margin-bottom: 24px;
    color: red;
    font-size: 14px;
}
  .black{
    color: rgb(88, 88, 88)
  }
  .black > a{
    text-decoration: none;
  }

  .error{
    margin-top: 12px;
  }

  
.content-section {
    padding: 100px;
    margin-top: 90px;
    height: 100vh;
}




.content-section {
  margin: 50px;
}

.media {
  display: flex;
  align-items: center;
}

.rounded-circle {
  border-radius: 50%;
  overflow: hidden; /* Ensures the image stays within the circle */
}

.account-img {
  border: 2px solid black;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.media-body {
  margin-left: 20px;
}

.account-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-secondary {
  font-size: 16px;
  color: #888;
  margin-bottom: 6px;
}

.change-password {
  text-decoration: none;
  margin-top: 5px;
}